.categorias-premium{

padding:110px 8%;

background:#f8f6f3;

text-align:center;

}

.categorias-premium p{

letter-spacing:5px;

font-size:12px;

color:#b9985a;

margin-bottom:15px;

}

.categorias-premium h2{

font-size:52px;

font-weight:300;

margin-bottom:60px;

}

.categorias-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.categoria-premium-card{

background:white;

padding:60px 20px;

border-radius:20px;

box-shadow:0 12px 30px rgba(0,0,0,.05);

transition:.35s;

cursor:pointer;

}

.categoria-premium-card:hover{

background:#111;

transform:translateY(-10px);

}

.categoria-premium-card:hover span,

.categoria-premium-card:hover small{

color:white;

}

.categoria-premium-card span{

display:block;

font-size:28px;

margin-bottom:12px;

}

.categoria-premium-card small{

color:#777;

font-size:15px;

}