.hero {
  height: 80vh;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/19705886/pexels-photo-19705886.jpeg?_gl=1*1wc05ax*_ga*MTc3NjgxMzM1MS4xNzgwOTUxNTU0*_ga_8JE65Q40S6*czE3ODIyNjA2MzMkbzYkZzEkdDE3ODIyNjE1MDckajI5JGwwJGgw");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  background: rgba(0,0,0,0.55);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.hero-logo {
  width: 90px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 48px;
  letter-spacing: 2px;
}