.card{

  background:white;

  border-radius:20px;

  padding:25px;

  box-shadow:var(--shadow);

  min-width:220px;
}

.card h4{
  margin-bottom:10px;
}

.card p{
  font-size:28px;
  font-weight:bold;
}