.explorar{

padding:110px 8%;

background:#faf8f5;

text-align:center;

}

.explorar-subtitle{

font-size:12px;

letter-spacing:5px;

color:#b9985a;

}

.explorar h2{

margin-top:18px;

font-size:50px;

font-weight:300;

color:#111;

}

.explorar-texto{

margin:25px auto 60px;

max-width:700px;

font-size:18px;

line-height:32px;

color:#777;

}

.explorar-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:28px;

}

.explorar-card{

background:white;

padding:45px 35px;

border-radius:24px;

cursor:pointer;

border:1px solid #ece7df;

transition:.35s;

box-shadow:0 12px 30px rgba(0,0,0,.05);

}

.explorar-card:hover{

transform:translateY(-8px);

border-color:#b9985a;

box-shadow:0 18px 45px rgba(0,0,0,.12);

}

.explorar-card h3{

font-size:26px;

font-weight:300;

margin-bottom:15px;

color:#111;

}

.explorar-card span{

display:block;

font-size:15px;

color:#888;

margin-bottom:35px;

}

.explorar-link{

color:#b9985a;

font-weight:600;

letter-spacing:1px;

transition:.3s;

}

.explorar-card:hover .explorar-link{

transform:translateX(8px);

}