.layout{

display:flex;

min-height:100vh;

background:#f8f6f3;

}

.sidebar{

width:240px;

background:#111;

color:white;

padding:40px 30px;

display:flex;

flex-direction:column;

}

.sidebar h2{

font-size:24px;

font-weight:600;

letter-spacing:2px;

margin-bottom:40px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:20px;

}

.sidebar a{

color:#d8d8d8;

text-decoration:none;

transition:.3s;

font-size:15px;

}

.sidebar a:hover{

color:#b9985a;

}

.content{

flex:1;

min-height:100vh;

background:#f8f6f3;

overflow:auto;

}