.video-banner{

position:relative;

width:100%;

height:88vh;

overflow:hidden;

border-radius:0;

box-shadow:none;

}

.titulo-section span{

display:block;

font-size:12px;

letter-spacing:5px;

color:#b9985a;

margin-bottom:18px;

text-transform:uppercase;
position:center;

}

.titulo-section h2{

font-size:60px;

font-weight:300;

line-height:1.15;

color:#111;

margin-bottom:22px;

}

.titulo-section p{

font-size:19px;

color:#666;

line-height:34px;

}

.video-banner video{

width:100%;

height:100%;

object-fit:cover;

display:block;

filter:grayscale(100%)
brightness(.55)
contrast(1.08);

}
.video-text{

max-width:850px;
margin:auto;

display:flex;
flex-direction:column;
align-items:center;

}

.video-banner video{

width:100%;

height:720px;

object-fit:cover;

display:block;


filter:grayscale(100%) brightness(.58) contrast(1.08);

transition:.7s ease;

}

.video-banner:hover video{

transform:scale(1.05);

}

.video-overlay{

position:absolute;

inset:0;

display:flex;

justify-content:center;

align-items:flex-end;

padding-bottom:60px;

background:linear-gradient(
to top,
rgba(0,0,0,.55),
rgba(0,0,0,.15),
transparent
);

}

.ver-mas-btn{

padding:18px 42px;

border:none;

border-radius:50px;

background:white;

color:#111;

font-size:15px;

letter-spacing:2px;

cursor:pointer;

transition:.35s;

font-weight:500;
position:center;

}

.ver-mas-btn:hover{

background:#b9985a;

color:white;

transform:translateY(-3px);

}

.video-overlay{

position:absolute;
inset:0;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

text-align:center;

padding:0 8%;

background:rgba(0,0,0,.28);

}

.video-overlay button:hover{

background:#b9985a;

color:white;

transform:translateY(-3px);

}

@media(max-width:900px){

.titulo-section h2{

font-size:42px;

}

.video-banner video{

height:500px;

}

}

@media(max-width:600px){

.destacados{

padding:90px 5%;

}

.titulo-section h2{

font-size:34px;

}

.titulo-section p{

font-size:16px;

line-height:28px;

}

.video-banner{

border-radius:20px;

}

.video-banner video{

height:400px;

}

.video-overlay{

padding-bottom:35px;

}

.video-overlay button{

padding:15px 30px;

font-size:14px;

}

}