:root{

--background:#fdf8f4;

--secondary:#fffaf7;

--gold:#c7a17a;

--gold-hover:#b48d67;

--brown:#7b5e57;

--dark:#2c2c2c;

--white:#ffffff;

--shadow:0 10px 30px rgba(0,0,0,.08);

--radius:18px;

}